<!--STATS TO DISPLAY TO ADMIN WHEN THEY LOGIN
    - DISPLAYS NUMBER OF USERS
    - DISPLAYS NUMBER OF ENTRIES-->

<section class="ui segment">
    <div class="ui two large statistics">
        <div class="ui statistic">
            <div class="value">
                <i class="user icon"></i>
            </div>
            <div class="label">
                Number of Users: {{users.length}}
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="pencil alternate icon"></i>
            </div>
            <div class="label">
                Number of Entries: {{islands.length}}
            </div>
        </div>
    </div>
</section>