<!--FORM TO SELECT TO CATEGORY OF ISLAND TO BE DISPLAYED-->

<form class="ui stacked segment form" action="/categorize" method="POST">
    <div class="field">
        <label>Location</label>
        <select class="ui fluid search dropdown" name="category">
            <option value="">Location</option>
            <option value="1">North</option>
            <option value="1">East</option>
            <option value="2">West</option>
            <option value="3">South</option>
        </select>
    </div>
    <div>
        <button class="ui blue submit button">Categorize Islands</button>
    </div>
</form>