{{> mainmenu _id="home" }}


<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/island1.jpg" class="ui medium image" />
        </aside>
        <article class="ten wide column">
            <header class="ui  header">Point of Interests - Islands</header>
            <p>Find enclosed details of Islands local to Ireland!</p>
            {{>error}}
        </article>
    </div>
</section>