{{> mainmenu _id="settings" }}

<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui ten wide column">
            <div class="ui stacked fluid form segment">
                <form action="/settings" method="POST">
                    <h3 class="ui header">Register</h3>
                    <div class="two fields">
                        <div class="field">
                            <label>First Name</label>
                            <input value="{{user.firstName}}" type="text" name="firstName">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input value="{{user.lastName}}" type="text" name="lastName">
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input value="{{user.email}}" type="text" name="email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input value="{{user.password}}" type="password" name="password">
                    </div>
                    <button class="ui blue submit button">Save</button>
                </form>
                {{>error}}
            </div>
        </div>
        <aside class="ui five wide column">
            <img src="images/island3.jpg" class="ui medium image">
        </aside>
    </div>
    {{>error}}
</section>

<form action="/deleteaccount" method="get">
    <div class="ui warning icon message">
        <i class="icon red exclamation triangle"></i>
        <div class="content">
            <div class="header">
                Delete Account
            </div>
            <p>!!!!Pressing this button will permanently delete your account!!!!!</p>
        </div>
        <button>
            <i class="icon large red exclamation triangle"></i>
            Delete Account
        </button>
    </div>
</form>



<!--<script>-->
    <!--function youSure(){-->
        <!--var txt;-->
        <!--if (confirm("Pressing OK will DELET your account - Are you sure you want to continue!?")) {-->
            <!--txt = "Account Deleted"-->
        <!--} else{-->
            <!--txt = "Your account is not deleted!"-->
        <!--}-->
    <!--}-->
<!--</script>-->